# Ignore virtual environment directory
venv/

# Ignore SQLite database file
db.sqlite3

# Ignore Python bytecode cache directories
blogbit/blog/__pycache__/
blogbit/blogbit/__pycache__/

# Ignore Django migration files
blogbit/blog/migrations/

# Ignore uploaded files directory
blogbit/upload/